   *,
   ::after,
   ::before{
    box-sizing: border-box;
   }
   /*Estilos cabecera y Nav*/
*,
::after,
::before{
 box-sizing: border-box;
}
.boxHeader {
    position: relative;
  
}
.boxHeader__h1{
 color:rgba(4, 66, 174, 0.788)
}
.boxHeader__div__h1__nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0px 50px;
    position: absolute;
    top: 7px;
    left: 0px;
    right: 0px;
}
.boxHeader__div__h1__nav li {
    list-style: none;
    text-decoration: none;
}
.boxHeader__div__h1__nav ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}
.boxHeader__div__h1__nav a {
 color:rgba(4, 66, 174, 0.788);
    text-decoration: none;
    font-weight: bold;
}
.boxHeader__div__img {
    width: 100%;
    height: 300px;
}
.boxHeader__div__img img {
 width: 100%;
 height: 183px;
 object-fit: contain;
 position: absolute;
 top: 57px;
 right: 3%;
}
/*bola caza pokemon, imitación al carrito*/
.boxNavBar__Li__img {
    height: 30px;
    width: 30px;
    border-radius: 20px;
}
/*product*/
.boxPokemon {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    gap: 50px;
    margin: 70px;
    background-color: rgba(255, 215, 82, 0.397);
    border-radius: 30px;
}
/*carta de pokémon*/
.boxProduct {
    margin: 0px auto;
    padding: 20px;
}
.boxProduct__product {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
    background-color: rgba(255, 210, 173, 0.521);
    border-radius: 10px;
    padding: 20px;
    box-shadow: 1px 1px 3px 0px orangered;
}
/*h2 ferchdata*/
.boxPokemon__h2{
 text-align: left;
 margin-left: 100px;
 font-size: 37px;
 color:rgba(4, 66, 174, 0.788)
}

/* CARRITO */
.boxCart_Carrito{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
    margin: 10px;
    cursor: pointer;
    position: absolute;
    top: 267px;
    right: 0px;
    
}
   .boxCart_Carrito h2{
    margin:30px;
    color: rgba(4, 66, 174, 0.788)
}
.boxCart_Carrito__Datos{
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    background-color: rgb(234, 241, 248);
    width: 200px;
    border-radius: 10px;
    margin: 20px;
  
}
.boxCart_Carrito__Datos__image img{
    width: 80px;
    height: 70px;
}
.boxCart_Carrito__Datos_producto{
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    background-color: rgb(234, 241, 248);
    border-bottom: 1px solid black;
    margin: 20px;
    text-align: center;
}
.boxCart_Carrito_Vacio{
    display: flex;
    justify-content:center;
    flex-direction: column;
    width: 300px;
    background-color: rgb(234, 241, 248);
    border-radius: 10px;
    text-align: center;
    margin: 30px;
    position: absolute;
    top: 267px;
    right: 0px;
    color: rgba(4, 66, 174, 0.788);
}
.quantity-controls{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 5px;
        margin: 10px;
        cursor: pointer;
    }
    .box_CarCount{
        width: 20px;
        height: 20px;
        border-radius: 10000px;
        border: 1px solid red;
    }

    .cartCount{
        width: 30px;
        height: 30px;
        background-color: blue;
        color: white;
    }