*,
::after,
::before{
 box-sizing: border-box;
}
.boxHeader {
    position: relative;
  
}
.boxHeader__h1{
 color:rgba(4, 66, 174, 0.788)
}
.boxHeader__div__h1__nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0px 50px;
    position: absolute;
    top: 7px;
    left: 0px;
    right: 0px;
}
.boxHeader__div__h1__nav li {
    list-style: none;
    text-decoration: none;
}
.boxHeader__div__h1__nav ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}
.boxHeader__div__h1__nav a {
 color:rgba(4, 66, 174, 0.788);
    text-decoration: none;
    font-weight: bold;
}

/*bola caza pokemon, imitación al carrito*/
.boxNavBar__Li__img {
    height: 30px;
    width: 30px;
    border-radius: 20px;
}
 /*product*/
 .boxPokemon {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    gap: 50px;
    margin: 70px;
    background-color: rgba(255, 215, 82, 0.397);
    border-radius: 30px;
}
/*carta de pokémon*/
.boxProduct {
    margin: 0px auto;
    padding: 20px;
}
.boxProduct__product {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
    background-color: rgba(255, 210, 173, 0.521);
    border-radius: 10px;
    padding: 20px;
    box-shadow: 1px 1px 3px 0px orangered;
}
/*h2 ferchdata*/
.boxPokemon__h2{
 text-align: center;
 font-size: 37px;
 color:rgba(4, 66, 174, 0.788)
}