.BoxHeader {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin-top: 20px;
    border-bottom: 2px solid  rgb(248, 178, 99);
}

.BoxHeader__Nav li {
    list-style: none;
}

.BoxHeader__Nav a {
    text-decoration: none;
    color: black;
}

.navBox__Ul {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 30px;
    margin: 0px;
    padding: 0px;
}

.boxProductos h1 {
    margin-top: 80px;
    text-align: center;
}

.product-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 60px;

}

.product {
    margin-top: 100px;
    padding: 30px;
    background-color: rgb(228, 227, 227);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    box-shadow: 2px 0px 5px 2px rgb(252, 224, 192);

}

.product img {
    text-align: center;
    border-radius: 10000px;
}

.product button {
    text-align: center;
    border-radius: 4px;
    cursor: pointer;
    padding: 5px;

}

.product button:hover {
    background-color: rgb(248, 178, 99);
}
.boxConocenos{
    width: 800px;
    background-color: rgb(248, 245, 245);
    margin: 50px auto;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 2px 2px 3px 2px rgb(241, 241, 241);

}
/*carrito*/
.boxCart_Carrito h2{
    margin:30px
}
.boxCart_Carrito__Datos{
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    background-color: rgb(234, 241, 248);
    width: 200px;
    border-radius: 10px;
    margin: 20px;
  
}
.boxCart_Carrito__Datos__image img{
    width: 80px;
    height: 70px;
}
.boxCart_Carrito__Datos_producto{
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    background-color: rgb(234, 241, 248);
    border-bottom: 1px solid black;
    margin: 20px;
    text-align: center;
}
.boxCart_Carrito_Vacio{
    display: flex;
    justify-content:center;
    flex-direction: column;
    width: 300px;
    background-color: rgb(234, 241, 248);
    border-radius: 10px;
    text-align: center;
    margin: 30px;
}
/*footer*/
.boxFooter p{
    margin-top: 400px;
}